%tr{id: dom_id(file)}
  %td= link_to_if(policy(file).download?, file.name, file_path(id: file.path)) { file.name }
  %td= file.data_type&.name || t(".unspecified_type")
  %td= render "storage/actions", file: file
