- df_policy = policy(DataFile)
.card.mb-3
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %h2= title
    - if local_assigns[:upload_path] && df_policy.upload?
      %span
        = form_with url: file_upload_path(id: upload_path), class: "form-inline" do |f|
          .form-group
            = f.file_field :file
          %button.btn.btn-sm.btn-secondary{ type: "submit" } Upload
  .card-body
    - if files.blank?
      .alert.alert-info= t ".nothing"
    - else
      .table
        %table.table.table-striped
          %thead
            %tr
              %th= t "data_file.name"
              %th= t "data_file.data_type"
              %th= "Actions"
          %tbody
            = render partial: "storage/file", collection: files

