%h1
  = t(".title")
.card
  .card-body
    .col-md-3.col-sm-3.col-xs-12.profile_left
      .profile_img
        .avatar-view
          = image_tag Current.user.gravatar_url(size: 214)
        %h3= Current.user.name
        %div{ "data-controller": "clipboard" }
          %input.d-none{ type: "text", readonly: true,
                         value: Current.user.token,
                         "data-clipboard-target": "source" }
          %button.btn.btn-success{ title: t(".copy_jwt"), "data-action": "clipboard#copy" }
            = t(".copy_jwt")
    .col-md-9.col-sm-9.col-xs-12
      %ul.list-group.mb-4
        %li.list-group-item= t ".first_name", name: Current.user.first_name
        %li.list-group-item= t ".last_name", name: Current.user.last_name
        %li.list-group-item= t ".email", email: Current.user.email
        %li.list-group-item= t ".plgrid_login", login: Current.user.plgrid_login

      .alert.alert-success
        .d-flex.justify-content-between.align-items-center
          %strong= t('.proxy.description', not_after: Current.user.proxy.not_after)
        %ul
          %li
            %strong= t('.proxy.issuer')
            = Current.user.proxy.issuer
          %li
            %strong= t('.proxy.subject')
            = Current.user.proxy.subject
      %p.description= t('.proxy.description')
