= render "cohort_header"

%div{class: "accordion", id: "accordionCohort"}
  .card
    .card-header{id: "headingCohortPatients"}
      %h2
        %span{data: {"toggle": "collapse", "target": "#cohortPatients"},
        "aria-expanded": "true",
        "aria-controls": "cohortPatients" }
          = t("cohorts.show.link_to_patients")
    %div{class: "collapse show", id: "cohortPatients", data: {parent: "#accordionCohort"},
    "aria-labelledby": "headingCohortPatients"}
      .card-body
        = render "cohorts/patients/index"
  .card
    .card-header{id: "headingCohortCampaigns"}
      %h2
        %span{data: {"toggle": "collapse", "target": "#cohortCampaigns"},
        "aria-expanded": "false", 
        "aria-controls": "cohortCampaigns" }
          = t("cohorts.show.campaigns.link_to_campaigns")
    %div{class: "collapse", id: "cohortCampaigns", data: {parent: "#accordionCohort"},
    "aria-labelledby": "headingCohortCampaigns"}
      .card-body
        = render "cohorts/campaigns/index"
