= render "layouts/organization/side_menu/research"
= render "layouts/organization/side_menu/pipelines_blueprints"
= render "layouts/organization/side_menu/administration"
= render "layouts/organization/side_menu/help"
= render "layouts/organization/side_menu/user"

