.row
  .col-md-6
    %h2 #{first.name} (#{first.output_of.name})
  .col-md-6
    %h2 #{second.name} (#{second.output_of.name})
.row
  .col-md-6
    %img.img-responsive{ src: file_path(id: first.path) }
  .col-md-6
    %img.img-responsive{ src: file_path(id: second.path) }
