%div{ "data-controller": "diff",
  "data-diff-first-value":  file_path(id: first.path),
  "data-diff-second-value": file_path(id: second.path),
  "data-diff-first-title-value": "#{first.name} (#{first.output_of.name})",
  "data-diff-second-title-value": "#{second.name} (#{second.output_of.name})",
  "data-diff-target": "body" }
  .text-center
    %i.fas.fa-spinner.fa-spin
