.card.mb-3{ "data-controller": "runnable", "data-runnable-id-value": runnable.slug }
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %h2= t(".title")
    - if policy(Pipeline).new?
      = link_to t(".new"), new_runnable_pipeline_path(runnable),
        class: "btn btn-sm btn-success"

  .card-body
    %section.content{ "data-runnable-target": "pipelines" }
      = render("runnables/pipelines/list", runnable: runnable, pipelines: @pipelines)
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)