- first, second = compare
.card.mb-3
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %span
      = first.data_type.name
      %small
        (#{link_to first.name, file_path(id: first.path)} vs
        #{link_to second.name, file_path(id: second.path)})

    .badge.badge-secondary.p-1= first.data_type.viewer
  .card-body
    = render "comparisons/viewers/#{first.data_type.viewer}",
      first: first, second: second, index: compare_iteration.index
