= simple_fields_for "organization[storage_config_attributes]", config do |f|
  .row
    .col-6
      = f.input :host,
        label: t("simple_form.labels.storage_config.plgrid.host"),
        hint: t("simple_form.hints.storage_config.plgrid.host")
    .col-6
      = f.input :host_key,
        label: t("simple_form.labels.storage_config.plgrid.host_key"),
        hint: t("simple_form.hints.storage_config.plgrid.host_key")
  .row
    .col
      = f.input :path,
        label: t("simple_form.labels.storage_config.plgrid.path"),
        hint: t("simple_form.hints.storage_config.plgrid.path")
