= simple_fields_for "organization[storage_config_attributes]", config do |f|
  .row
    .col-8
      = f.input :endpoint,
        label: t("simple_form.labels.storage_config.s3.endpoint"),
        hint: t("simple_form.hints.storage_config.s3.endpoint")
    .col-4
      = f.input :bucket,
        label: t("simple_form.labels.storage_config.s3.bucket"),
        hint: t("simple_form.hints.storage_config.s3.bucket")
  .row
    .col
      = f.input :access_key,
        label: t("simple_form.labels.storage_config.s3.access_key")
    .col
      = f.input :secret_key,
        label: t("simple_form.labels.storage_config.s3.secret_key")
