%hr
%div{ "data-controller": "switch", "data-switch-url-pattern-value": "#{git_config_url}?override=${value}" }
  .row.mt-3
    .col-4
      %h2= t "git_configs.form.step.title"
    .col-8
      .row
        .col
          .form-group
            %label.form-check-label{ for: "override_git_config" }
              = check_box_tag nil, 1, git_config,
              "data-switch-target": "changeSource",
              "data-action": "switch#change"
              Override organization git configuration
            %small.form-text.text-muted= t "git_configs.form.step.description"

  %div{ "data-switch-target": "body" }
    - if git_config
      = render "git_configs/form",
        git_config: git_config, git_config_url: git_config_url,
        module_type: module_type, git_types: git_types
    - else
      = render "git_configs/default"

