.text-center
  %h1.mt-5= Current.organization.name
  %p= Current.organization.description
  = link_to "Login to #{Current.organization.name} organization", "/auth/open_id", class: "btn btn-primary btn-lg"
