.col-6
  = render 'storage/file_browser',
    files: pipeline.inputs.includes(:data_type),
    title: t('pipeline.inputs', name: pipeline.name),
    upload_path: pipeline.inputs_dir

  - if @runnable.class == Patient
    = render 'storage/file_browser',
      files: runnable.inputs.includes(:data_type),
      title: t('patient.inputs', name: runnable.case_number),
      upload_path: runnable.inputs_dir

.col-6
  = render 'storage/file_browser',
    files: pipeline.outputs.includes(:data_type),
    title: t('pipeline.outputs', name: pipeline.name)
