= turbo_stream_from @cohort
= turbo_frame_tag @cohort do
  .row.mt-2
    .col
      .card
        .card-header
          %h3
            = t('cohorts.patients.cohort_patients')
        .card-body
          = turbo_frame_tag "members", @cohort do
            = render partial: "cohorts/patients/member",
                    collection: @cohort.patients, as: :patient
    .col
      .card
        .card-header
          %h3
            = t('cohorts.patients.patients')
        .card-body
          = turbo_frame_tag "candidates", @cohort do
            = render partial: "cohorts/patients/candidate",
                    collection: @candidates, as: :patient
