= if @cohort_patient&.destroyed?
  = turbo_stream.remove dom_id(@patient)
  = turbo_stream.append dom_id(@cohort, "candidates"),
                        partial: "cohorts/patients/candidate",
                        locals: { patient: @patient, cohort: @cohort }
= turbo_stream.prepend "flash", partial: "layouts/flash"
