.card.my-3
  .card-body.d-flex.justify-content-between.align-items-center.py-2
    %h2.card-title
      = link_to patients_path do
        %i.fa.fa-users
      \/
      = patient.case_number
      %small= t ".subtitle"
    - if policy(patient).destroy?
      = button_to t(".remove"), patient_path(patient),
        method: :delete,
        form: { "data-turbo-confirm": t("are_you_sure") },
        class: "btn btn-sm btn-danger"
