= render "runnables/patient_header", runnable: @patient

= render("runnables/show", runnable: @patient, pipelines: @pipelines)
= render "storage/file_browser",
  files: @patient.inputs.includes(:data_type),
  title: t(".patient_inputs", name: @patient.case_number),
  upload_path: @patient.inputs_dir

