- if policy(Patient).index? || policy(:files).index?
  %h6.sidebar-heading.d-flex.px-3.mt-4.mb-1.text-muted= t ".title"

  %ul.nav.flex-column.mb-2.ml-3
    - if policy(Patient).index?
      %li.nav-item
        = nav_link_to t(".patients"), patients_path, controller: :patients
    - if policy(Pipeline).index?
      %li.nav-item
        = nav_link_to t(".pipelines"), pipelines_path, controller: :pipelines
      %li.nav-item
        = nav_link_to t(".artifacts"), artifacts_path, controller: :artifacts
    - if policy(Cohort).index?
      %li.nav-item
        = nav_link_to t(".cohorts"), cohorts_path, controller: :cohorts
    - if policy(Campaign).index?
      %li.nav-item
        = nav_link_to t(".campaigns"), campaigns_path, controller: :campaign

