.d-md-none
  %h6.sidebar-heading.d-flex.px-3.mt-4.mb-1.text-muted User
  %ul.nav.flex-column.mb-2.ml-3
    %li.nav-item
      = nav_link_to t(".profile"), profile_path
    %li.nav-item
      = button_to t(".logout"), logout_path,
        method: :delete,
        class: "nav-link"
