.card{ "data-target": "computation.content" }
  .card-header{ "data-target": "computation.menu" }
    = render "computations/menu",
      pipeline: pipeline,
      computation: computation, computations: computations
  .card-body
    - if computation.runnable?
      .alert{ class: alert_computation_class(computation) }
        = t("computation.#{computation.status}", step: computation.name)
    - else
      .alert.alert-warning
        - if pipeline.archived?
          = t("steps.readonly", step: computation.name.downcase)
        - elsif !computation.step.input_present_for?(pipeline)
          = t("steps.missing_input", step: computation.name.downcase)
          = render "input_files_list", computation: computation

    .card-deck.mb-4
      = render Computation::DetailsComponent.new(computation: computation)
      = render Computation::ParametersValuesComponent.new(computation: computation)
    - if computation.step.persistent_errors_count.zero?
      - if policy(computation).update?
        = render "run", pipeline: pipeline, computation: computation
      - if policy(computation).abort?
        .row.justify-content-center
          = link_to t('.abort'),
                    computation_abort_path(computation),
                    data: { "turbo-method": :post },
                    class: 'btn btn-warning mb-0'
    - else
      .alert.alert-error
        = t("steps.cannot_start_step", step: computation.name.downcase)
