.pipeline-filters.form-group
  = form_with url: "#{runnable_path(runnable)}", method: :get do |f|
    = f.label :name, "Filter by name", class: "sr-only"
    = f.text_field :name, class: "form-control col-sm-3 m-2",
      placeholder: "Name filter", id: "pipeline-name-filter",
      value: params[:name]

    = f.label :owner, "Filter by owner", class: "sr-only"
    = f.select :owner, Current.organization.users.map { |u| [u.name, u.id] },
      { include_blank: "Filter by owner", selected: params[:owner] },
      class: "form-control col-sm-3 m-2", id: "pipeline-owner-filter"

    = f.label :status, "Filter by status", class: "sr-only"
    = f.select :status, Pipeline.statuses,
      { include_blank: "Filter by status", selected: params[:status] },
      class: "form-control col-sm-3 m-2", id: "pipeline-status-filter"

    = f.submit "Filter", class: "btn btn-primary form-control col-sm-1 m-2"

