%tr.pipeline{ class: pipeline.status }
  %th= pipeline.iid
  %th
    = link_to pipeline do
      = pipeline_title(pipeline)
  %th
    = pipeline.owner_name
  %th
    = render(Pipeline::StatusComponent.new(pipeline: pipeline))
  %th
    .d-inline-flex.border-0
      - if policy(pipeline).edit?
        = link_to I18n.t("pipelines.show.edit"), edit_pipeline_path(pipeline),
        class: "btn btn-sm btn-secondary"
      - if policy(pipeline).destroy?
        = button_to I18n.t("pipelines.show.delete"), pipeline_path(pipeline),
          method: :delete,
          class: "btn btn-sm btn-danger",
          form: { "data-turbo-confirm": t("are_you_sure") }
