%tr.pipeline{ class: pipeline.status }
  %th= pipeline.iid
  %th
    %input{ value: pipeline.id, type: "checkbox", name: "pipeline_ids[]",
    "data-runnable-target": "checkbox",
    "data-action": "runnable#countSelectedPipelines" }
  %th
    = link_to pipeline do
      = pipeline_title(pipeline)
  %th
    = pipeline.owner_name
  %th
    = render(Pipeline::StatusComponent.new(pipeline: pipeline))
  %th
    .d-inline-flex
      - if policy(pipeline).edit?
        = link_to "Edit pipeline", edit_pipeline_path(pipeline),
          class: "btn btn-sm btn-secondary"
      - if policy(pipeline).destroy?
        = link_to "Remove pipeline", pipeline_path(pipeline),
          class: "btn btn-sm btn-danger",
          data: { "turbo-confirm": t("are_you_sure"), "turbo-method": :delete }
