= form_tag(comparisons_path, method: :get) do
  %table.table
    %thead
      %tr
        %th.iid= t('.id')
        %th.select
        %th= t('.name')
        %th= t('.user')
        %th= t('.status')
        %th= t('.actions')
    %tbody
      = render partial: 'runnables/pipelines/pipeline_compare',
               collection: pipelines, as: :pipeline
  = submit_tag(t('.compare'),
    class: 'btn btn-success',
    disabled: true,
    'data-runnable-target': 'comparePipelinesButton',
    title: "You need to select exactly two checkboxes")
