.card.danger
  .card-header.p-2
    .btn.btn-link.text-danger
      %h2.mb-0{ data: { toggle: "collapse", target: "#collapse-danger" } }
        = t ".header"
  .card-body.collapse#collapse-danger
    .row
      .col-8.offset-4
        %h6.card-title
          = t ".title"
        .col-md-10.p-0
          = t ".text"
        .float-right
          = button_to t(".submit_button"), admin_organization_path,
            form: { "data-turbo-confirm": t(".confirmation") },
            class: "btn btn-danger", method: :delete
