%h1= t ".title"

= render "organizations/form",
  organization: @organization,
  url: admin_organization_path,
  git_config_url: "#{admin_organization_path}/git_configs",
  storage_config_url: "#{admin_organization_path}/storage_configs" do
  %hr
  = render partial: "delete"
