.card.mb-2
  .card-header{:class => ("alert-danger" unless step_valid?(step))}
    %span{ data: { toggle: "collapse",
    target: "#collapse-step-#{step.id}" } }
      - if step.type == "RimrockStep"
        .badge.badge-info #{step.grant_type.name.upcase}
      .badge.badge-info #{step.site.name.upcase}
      - if step_valid?(step)
        #{step.name} (<code>#{step.slug}</code>)
      - else
        %i.fa.fa-exclamation-triangle{ title: t(".problem") }
        #{step.name} (#{step.slug})
      #{step.user&.name}
    .float-right.d-inline-flex
      - if policy(step).edit?
        = link_to edit_step_path(step),
          title: t(".edit"), class: "edit mr-2 pr-2 border-right" do
          %i.fas.fa-edit
      - if policy(step).destroy?
        = button_to step_path(step),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
  .card-body.collapse{ id: "collapse-step-#{step.id}" }
    = render(Step::GitComponent.new(step: step))
    = render(Step::InputsComponent.new(step: step))
    = render(Step::ParametersComponent.new(step: step))

