- cohort = @campaign.cohort || NullCohort.new

.card.mt-2
  .card-header.d-flex.justify-content-between.align-items-center
    %h2.card-title
      = link_to campaigns_path, title: I18n.t("campaigns.header.back"),
      data: {"turbo-action": "advance", "turbo-frame": "_top"} do
        %i.fa.fa-server
      \/
      = @campaign.name
    = link_to_if @campaign.cohort,
      I18n.t("cohorts.header.name", name: cohort.name),
      @campaign.cohort,
      class: "btn btn-secondary", data: {"turbo-action": "advance", "turbo-frame": "_top"}
