.row.mt-5
  .col-10.offset-1
    .card.border-0
      .row.no-gutters
        .col-7
          .card-body.m-5.text-center
            %h1.card-title= t ".title"
            %h2.card-title= t ".subtitle"
            - if policy(Campaign).new?
              = link_to new_campaign_path,
                class: "btn btn-success btn-lg my-3", data: {"turbo-action": "advance"} do
                %i.fas.fa-plus
                = t "campaigns.index.add"
            %p.card-text.mt-5= t ".description_html"
        .col-5
          = image_tag("patients.svg", class: "card-img p-5")