= turbo_frame_tag "campaigns" do
  .card
    .card-header
      %h1= t "campaigns.create.title"
    .card-body
      .card
        .card-header= t "campaigns.create.subtitle"
        .card-body
          = simple_form_for @campaign,
          data: { controller: "dynamic-view", "dynamic-view-url-value": flow_pipeline_parameters_path(":flow_id"), "turbo_frame": "_top" } do |f|
            = f.input :name, class: "form-control", required: true
            = f.input :cohort, collection: @cohorts, selected: @campaign.cohort_id || Cohort.first&.id, required: true, prompt: ''
            = f.input :flow, selected: @pipeline.flow&.id,
            input_html: {class: "form-control", data: { action: "change->dynamic-view#load", "dynamic-view-target": "input" },
            id: "pipeline[flow_id]", name: "pipeline[flow_id]" }, collection: @flows, required: true, prompt: ''

            %h2.mt-5
            = I18n.t("campaigns.create.pipeline_steps")
            %hr

            %template{data: {"dynamic-view-target": "loader"}}
              .d-flex.justify-content-center.align-items-center
                .spinner-border.mr-2{role: "status"}
                = t("pipelines.pipeline_steps_form.loading")
            - @campaign.errors.full_messages_for(:base).each do |msg|
              %p.text-sm-left.alert.alert-danger
                = msg

            = turbo_frame_tag "stepsConfig", @pipeline, data: { "dynamic-view-target": "frame" }  do
              = render "runnables/pipelines/computations_form_automatic", pipeline: @pipeline

            .ln_solid
            .form-group
              .col-md-6.col-md-offset-3
                = f.submit t("campaigns.create.submit"), class: "btn btn-success"
                = link_to t("cancel"), campaigns_path,
                                  class: "btn btn-secondary"
