= turbo_frame_tag "campaigns" do
  = turbo_stream_from @campaign
  = render "campaigns/campaign_header"
  %div{id: "progress_bar_campaign_card_#{@campaign.id}"}
    = render "campaigns/campaign_progress_bar_card", campaign: @campaign


  .card.mt-2
    .card-header
      .h3
        = I18n.t("campaigns.view.patients")
    .card-body
      = render "campaigns/patient_table/patient_table"

  .pipeline-loader-wrapper
    = render "campaigns/run_buttons/run_button", campaign: @campaign, button_text: I18n.t("campaigns.view.run.#{@campaign.status}")

  = render "campaigns/files/output_files"
