.card.mb-2
  .card-header
    .badge{ class: time_scope_button_class(grant)}
      #{time_scope_button_text(grant)}
    #{grant.name} (#{grant.start_at} - #{grant.end_at}) :
    #{grant_types_names(grant)}
    .float-right.d-inline-flex
      - if policy(grant).edit?
        = link_to edit_admin_grant_path(grant),
          title: t(".edit"), class: "edit mr-2 pr-2 border-right" do
          %i.fas.fa-edit

      - if policy(grant).destroy?
        = button_to admin_grant_path(grant),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
