.card.mb-3
  .card-body
    = simple_form_for organization, url: url do |f|
      = f.error_notification

      .row
        .col-4.pr-5
          %h2= t ".general.title"
        .col-8
          .row
            .col
              = f.input :name, autofocus: true
            .col
              = f.input :logo
          .row
            .col
              = f.input :description, input_html: { rows: 3 }

      %hr

      = git_config_errors(f.full_error(:git_config))
      = render "git_configs/git_config", git_config: organization.git_config,
        git_config_url: git_config_url, module_type: "organization", git_types: GitConfig.types

      %hr

      = render "organizations/storage_config",
        storage_config: organization.storage_config,
        storage_config_url: storage_config_url

      %hr
      .row.mt-4
        .col-4.pr-5
          %h2= t ".plgrid.title"
          %p.text-muted= t ".plgrid.description"
        .col-8
          .row
            .col
              = f.input :plgrid_team_id

      %hr
      .row.mt-4
        .col-8.offset-4
          = link_to t("cancel"), root_path, class: "btn btn-secondary"
          = f.button :submit, t(".submit_button"), class: "btn btn-success"

    = yield
