- storage_config ||= Storage::Config.default

%div{ data: { "controller": "switch", "switch": { "url-pattern-value": "#{storage_config_url}/${value}" }}}
  .row.mt-4
    .col-4.pr-5
      %h2 Organization storage configuration
      %p.text-muted Storage is used to host patients data as well as pipelines inputs and outputs.
      %p.text-danger
        %strong Warning:
        there is no migration mechanism between storages. After storage configuration
        is changed you need to migrate data manually.

    .col-8
      .row
        .col
          = simple_fields_for "organization[storage_config_attributes]", storage_config do |f|
            = f.input :type,
              collection: Storage::Config.types.map(&:type),
              label: "Storage type",
              include_blank: false,
              error: true,
              input_html: { data: { action: "change->switch#change", "switch-target": "changeSource" } }
          %div{ "data-switch-target": "body" }
            = render "storage/configs/#{storage_config.type}", config: storage_config
