%h1.mb-3.mt-5.text-center= t ".title"

= render "form", organization: @organization,
  url: organizations_path,
  git_config_url: "#{organizations_path}/git_configs",
  storage_config_url: "#{organizations_path}/storage_configs"
