.card.mb-2
  .card-header.d-flex.justify-content-between.align-items-center.py-2
    %span{ data: { toggle: "collapse", target: "#collapse-membership-#{membership.id}" } }
      - if membership.blocked?
        %i.fas.fa-ban.cred
      = membership.name
      %span.small (#{membership.email})
      - if membership.new_account?
        %span.badge.badge-info New
      - if membership.admin?
        %span.badge.badge-danger Admin
      - if membership.supervisor?
        %span.badge.badge-warning Supervisor
    .btn-group
      - if policy(membership).update? && membership.new_account? || membership.blocked?
        = button_to admin_user_path(membership, state: :approved),
          title: t(".approve"),
          form: { "data-turbo-confirm": t("are_you_sure") },
          method: :put,
          class: "btn btn-sm btn-success" do
          %i.fas.fa-check

      - if policy(membership).update? && membership.new_account? || membership.approved?
        = button_to admin_user_path(membership, state: :blocked),
          title: t(".block"),
          form: { "data-turbo-confirm": t("are_you_sure") },
          method: :put,
          class: "btn btn-sm btn-warning" do
          %i.fas.fa-ban

      - if policy(membership).destroy?
        = button_to admin_user_path(membership),
          title: t(".destroy"),
          form: { "data-turbo-confirm": t("are_you_sure") },
          method: :delete,
          class: "btn btn-sm btn-danger" do
          %i.fas.fa-times
  .card-body.collapse{ id: "collapse-membership-#{membership.id}" }
    = simple_form_for membership, url: admin_user_path(membership), namespace: "u#{membership.user_id}" do |f|
      = f.input :roles,
        collection: Organizations::Roles::ROLES,
        input_html: { data: { choice: true }, multiple: true }

      = f.button :submit, class: "btn btn-success"
