%h1
  = t ".title"
.card.mb-3
  .card-header
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        = nav_link_to t(".all"), admin_users_path, key: "state", value: nil
      %li.nav-item
        = nav_link_to t(".active"), admin_users_path(state: "active"),
          key: "state", value: "active"
      %li.nav-item
        = nav_link_to admin_users_path(state: "new"), key: "state", value: "new" do
          = t(".new")
          %span.badge.badge-pill.badge-info= @new_users_count
      %li.nav-item
        = nav_link_to t(".blocked"), admin_users_path(state: "blocked"),
          key: "state", value: "blocked"

  .card-body
    = render partial: "admin/users/membership",
      collection: @memberships, as: :membership
    -if @pagy.pages != 1
      != pagy_bootstrap_nav(@pagy)
