.progress.border.border-secondary{"data-toggle": "tooltip", "data-placement": "top", "title": tooltip_data, "data-controller": "tooltip"}
  .progress-bar.bg-primary{role: "progressbar", style: "width: #{waiting_width}%", "aria-valuenow": number_of_waiting, "aria-valuemin": 0, "aria-valuemax": all}
  .progress-bar.bg-warning{role: "progressbar", style: "width: #{running_width}%", "aria-valuenow": number_of_running, "aria-valuemin": 0, "aria-valuemax": all}
  .progress-bar.bg-success{role: "progressbar", style: "width: #{successful_width}%", "aria-valuenow": number_of_successful, "aria-valuemin": 0, "aria-valuemax": all}
  .progress-bar.bg-danger{role: "progressbar", style: "width: #{failed_width}%", "aria-valuenow": number_of_failed, "aria-valuemin": 0, "aria-valuemax": all}


