= turbo_frame_tag @artifact do
  = simple_form_for(@artifact) do |f|
    - if f.object.errors[:storage_error].any?
      = f.error_notification message: f.object.errors[:storage_error].to_sentence
    = f.input :name
    = f.button :submit, class: "btn btn-sm btn-success"
    = link_to t("cancel"), :back,
                        class: "btn btn-sm btn-secondary"