- if @artifacts.size.zero?
  .row.mt-5
    .col-10.offset-1
      = render "empty"
- else
  %h1
    .float-left
      = t ".title"
    .clearfix

  .card.mb-3
    .card-body
      = turbo_stream_from Current.organization, "artifacts"
      = render @artifacts
      - if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
