.card
  .card-header Computation details
  .card-body.pb-0
    %table.table.mb-0
      %tbody
        %tr
          %td= t "computation.started_at"
          %td= start_time
        - if @computation.rimrock?
          %tr
            %td= t "computation.site"
            %td= site
          %tr
            %td= t "computation.revision"
            %td= source_link
          %tr
            %td= t "computation.execution_time"
            - if @computation.active?
              %td{data: {"computation-start" => @computation.started_at}}= execution_time
            - else
              %td= execution_time
          %tr
            %td= t "computation.outputs"
            %td= safe_join([stdout_link, stderr_link], ', ')
          %tr
            %td= t "computation.status"
            %td= computation_status

