.card
  .card-header= t ".title"
  .card-body.pb-0
    - if parameters_values?
      %table.table
        %tbody
          - @parameters_values.each do |pv|
            %tr
              %td= pv.name
              %td= pv.value
    - else
      .alert.alert-info.text-center= t ".empty"
