.flash-container{"data-action" => "animationend->removals#remove", "data-controller" => "removals"}
  - if alert
    .alert.alert-danger.mt-2{ role: "alert" }= alert
  - elsif notice
    .alert.alert-success.mt-2{ role: "alert" }= notice
